{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="img-background-presentation">
    <div class="wrapper">
        <div class="content">
            <p class="title-1">Bienvenue sur </p>
            <h1 class="title-2">Le die-vin de Bacchus !</h1>
        </div>
    </div>
</div>
<div class="container">
    <h1 class=" pt-5 title-bestseller" id="Projets">Les Best Sellers</h1>
    <div class="row justify-content-around">
        {% for wine in wine %}
        {% if wine.isBestseller == 1 %}
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-11 mt-5 mb-5 mx-auto color-card">
            <div class="card" style="width: 18rem;">
                <h5 class="card-title">{{wine.name}}</h5>
                <img src="{{wine.picture}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="container pb-5">
        <h1 class="title-french-map">La carte des vins de France</h1>
        <div class="french-wine-map">
        
        </div>
</div>
{% endblock %}
