.color-navbar{
    background-color: #560027;
}

.nav-link{
    color: white;
}

   /*-----home------*/

.img-background-presentation {
    background-image: url("https://i.postimg.cc/xC9zmYmH/kym-ellis-a-F1-NPSn-DQLw-unsplash-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 600px;  
  }

.wrapper{
    display: table;
    width: 100%;
    height: 100%;
  }

.content{
display: table-cell;
text-align: center;
vertical-align: middle;
text-shadow: 1px 1px 1px black;
}

.title-1{
    color: #F8FF00;
    font-family:  'Raleway', sans-serif;
    font-size: 23px;
}

.title-2{
    color: #F8FF00;
    font-family:  'Raleway', sans-serif;
    font-size: 65px;
}

.title-bestseller{
    text-align: center;
    vertical-align: middle;
    color: #560027;
    font-family:  'Raleway', sans-serif;
    font-size: 65px;
}

.title-french-map{
    text-align: center;
    vertical-align: middle;
    color: #560027;
    font-family:  'Raleway', sans-serif;
    font-size: 65px;
}

.french-wine-map {
    background-image: url("https://i.postimg.cc/4y2hHNrd/carte-regions-vin-de-france.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;  
    width: 500px;
  }

    /*-----produit------*/

.product-picture{
    height: 300px;
    width: auto;
}

.wine-name{
    text-align: center;
    color: #560027;
}

.card-button{
    background-color: #560027;
    border: transparent;
}

.card-button:hover{
    background-color: #560027;
    border: transparent;
}

   /*-----show------*/
.description-title{
    text-align: center;
    vertical-align: middle;
}

.description-wine{
    text-align: justify;
}

.show-picture{
    height: 300px;
    width: auto;
}
