.color-navbar{
    background-color: #560027;
}

.nav-link{
    color: white;
    font-family: 'Lemonada', cursive;
}

.nav-link:hover{
    color: black;
    font-family: 'Lemonada', cursive;
}

   /*-----home------*/

.img-background-presentation {
    background-image: url("https://i.postimg.cc/xC9zmYmH/kym-ellis-a-F1-NPSn-DQLw-unsplash-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 600px;  
  }

.wrapper{
    display: table;
    width: 100%;
    height: 100%;
  }

.content{
display: table-cell;
text-align: center;
vertical-align: middle;
text-shadow: 1px 1px 1px black;
}

.title-1{
    color: #F8FF00;
    font-size: 23px;
    font-family: 'Lemonada', cursive;
}

.title-2{
    color: #F8FF00;
    font-size: 65px;
    font-family: 'Lemonada', cursive;
}

.title-bestseller{
    text-align: center;
    vertical-align: middle;
    color: #560027;
    font-family:  'Raleway', sans-serif;
    font-size: 65px;
    font-family: 'Lemonada', cursive;
}

.title-french-map{
    text-align: center;
    vertical-align: middle;
    color: #560027;
    font-family:  'Raleway', sans-serif;
    font-size: 65px;
    font-family: 'Lemonada', cursive;
}

.french-wine-map {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;  
    width: 600px;
    margin-bottom: 5rem;
  }

    /*-----produit------*/

.product-picture{
    height: 300px;
    width: auto;
}

.wine-name{
    text-align: center;
    color: #560027;
    font-family: 'Lemonada', cursive;
    margin-top: 2rem;
}

.card-button{
    background-color: #560027;
    border: transparent;
    color: white;
    font-family: 'Lemonada', cursive;
}

.title-filter{
    text-align: center;
    color: #560027;
    font-family: 'Lemonada', cursive;
}

.filter-button{
    background-color: #560027;
    border: transparent;
    color: white;
    font-family: 'Lemonada', cursive;
}

.filter-button:hover{
    background-color: #560027;
    border: transparent;
    color: white;
    font-family: 'Lemonada', cursive;
}

.card-button:hover{
    background-color: #560027;
    border: transparent;
    font-family: 'Lemonada', cursive;
}

   /*-----show------*/
.description-title{
    text-align: center;
    vertical-align: middle;
    color: #560027;
    font-family: 'Lemonada', cursive;
}

.description-wine{
    text-align: justify;
}

.show-picture{
    height: 300px;
    width: auto;
}

    /*-----cart------*/

.title-cart{
    text-align: center;
    color: #560027;
    font-family: 'Lemonada', cursive;
}

.cart-empty{
    text-align: center;
    vertical-align: middle;
    color: #560027;
    font-family: 'Lemonada', cursive;
}

.card-body{
    align-items: center;
}

.buy-button{
    background-color: #560027;
    border: transparent;
    color: white;
    font-family: 'Lemonada', cursive;
    align-self: center;
}